In [0]:
from google.colab import files
uploaded = files.upload()

Saving wine.data to wine.data

In [0]:
names = ['label', 'alcohol', 'malic_acid', 'ash', 'alcalinity', 'magnesium', 'total_phenols', 'flavanoids', 
         'nonflavanoid_phenols', 'proanthocyanins', 'color_intensity', 'hue', 
         'ods', 'proline']

In [0]:
import pandas as pd

In [0]:
df = pd.read_csv('wine.data', names=names)

In [0]:
df.head()

,label,alcohol,malic_acid,ash,alcalinity,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,ods,proline
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [0]:
df[['alcohol', 'malic_acid', 'ash', 'alcalinity', 'label']].tail()

     alcohol  malic_acid   ash  alcalinity  label
173    13.71        5.65  2.45        20.5      3
174    13.40        3.91  2.48        23.0      3
175    13.27        4.28  2.26        20.0      3
176    13.17        2.59  2.37        20.0      3
177    14.13        4.10  2.74        24.5      3

In [0]:
df.describe()

,label,alcohol,malic_acid,ash,alcalinity,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,ods,proline
count,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000
mean,1.938202,13.000618,2.336348,2.366517,19.494944,99.741573,2.295112,2.029270,0.361854,1.590899,5.058090,0.957449,2.611685,746.893258
std,0.775035,0.811827,1.117146,0.274344,3.339564,14.282484,0.625851,0.998859,0.124453,0.572359,2.318286,0.228572,0.709990,314.907474
min,1.000000,11.030000,0.740000,1.360000,10.600000,70.000000,0.980000,0.340000,0.130000,0.410000,1.280000,0.480000,1.270000,278.000000
25%,1.000000,12.362500,1.602500,2.210000,17.200000,88.000000,1.742500,1.205000,0.270000,1.250000,3.220000,0.782500,1.937500,500.500000
50%,2.000000,13.050000,1.865000,2.360000,19.500000,98.000000,2.355000,2.135000,0.340000,1.555000,4.690000,0.965000,2.780000,673.500000
75%,3.000000,13.677500,3.082500,2.557500,21.500000,107.000000,2.800000,2.875000,0.437500,1.950000,6.200000,1.120000,3.170000,985.000000
max,3.000000,14.830000,5.800000,3.230000,30.000000,162.000000,3.880000,5.080000,0.660000,3.580000,13.000000,1.710000,4.000000,1680.000000

In [0]:
df['label'].value_counts()

2    71
1    59
3    48
Name: label, dtype: int64

In [0]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [0]:
Y = df['label']
X = df.drop('label', axis=1)

In [0]:
X.columns

Index(['alcohol', 'malic_acid', 'ash', 'alcalinity', 'magnesium',
       'total_phenols', 'flavanoids', 'nonflavanoid_phenols',
       'proanthocyanins', 'color_intensity', 'hue', 'ods', 'proline'],
      dtype='object')

In [0]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, train_size=0.8, shuffle=True)

/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_split.py:2179: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

In [0]:
len(X_train)

142

In [0]:
len(X_test)

36

In [0]:
reg = LinearRegression()

In [0]:
reg = reg.fit(X_train, Y_train)

In [0]:
reg.score(X_test, Y_test)

0.8439696726193413

In [0]:
reg.coef_

In [0]:
from sklearn.model_selection import KFold

In [0]:
kf = KFold(n_splits=5, shuffle=True)

In [0]:
X = X.values
Y = Y.values

AttributeError: ignored

In [0]:
scores = []
for train, test in kf.split(X):
  reg = LinearRegression()
  reg = reg.fit(X[train], Y[train])
  scores.append(reg.score(X[test], Y[test]))

[ 13  14  33  35  36  38  40  41  44  45  46  54  61  62  65  66  67  70
  79  83 102 103 108 109 116 127 129 138 140 148 150 156 162 169 170 172]
[  0   2   3   8  11  17  18  26  29  39  42  43  55  71  77  85  97 101
 104 106 107 114 117 120 121 124 132 136 149 152 154 157 160 165 168 177]
[  4   5   7  16  24  31  34  68  74  88  89  90  91  92  94 100 105 110
 111 115 122 126 128 131 133 139 144 151 158 159 161 167 171 173 174 176]
[  6  10  20  21  22  23  25  27  28  37  47  51  52  53  57  59  60  64
  69  72  73  76  80  93  95  96 113 123 134 137 143 145 163 164 166]
[  1   9  12  15  19  30  32  48  49  50  56  58  63  75  78  81  82  84
  86  87  98  99 112 118 119 125 130 135 141 142 146 147 153 155 175]

In [0]:
import numpy as np

In [0]:
scores

[0.8188842265065561,
 0.8555576527601886,
 0.8887910166008696,
 0.8412797085830016,
 0.8865709461949899]

In [0]:
np.mean(scores)

0.8582167101291212

In [0]:
np.std(scores)

0.026757159021433066